@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l37pkn');
  src:  url('fonts/icomoon.eot?l37pkn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l37pkn') format('truetype'),
    url('fonts/icomoon.woff?l37pkn') format('woff'),
    url('fonts/icomoon.svg?l37pkn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\f041";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users2:before {
  content: "\f0c0";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-earth:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-monitor:before {
  content: "\e90c";
}
.icon-phone2:before {
  content: "\e90d";
}
.icon-pointer:before {
  content: "\e90e";
}
.icon-code:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-brand:before {
  content: "\e904";
  color: #a4c639;
}
.icon-brand2:before {
  content: "\e905";
  color: #999;
}
.icon-brand3:before {
  content: "\e906";
  color: #4285f4;
}
.icon-brand4:before {
  content: "\e907";
  color: #12b7f5;
}
.icon-brand5:before {
  content: "\e908";
  color: #0078d6;
}
.icon-brand6:before {
  content: "\e909";
  color: #107c10;
}
